@import "../../wwwroot/variables.scss";

@keyframes fadeInUp {

    from {
        opacity: 0;
        transform: scale(0.5);
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        transform: scale(1);
        clip-path: inset(100% 100% 0 0);
    }
}

.devTitle {
    position: relative;
    z-index: 1;
    width: $full-width;
    font-size: $medium;
    animation: fadeInUp 5s linear;
    animation-timeline: view();
    animation-range: entry  0% cover 40%;
}
