@page "/"


<PageTitle>Online Belot</PageTitle>

<section class="box">
	<Welcome />
</section>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<h1>.....................</h1>
<section class="box">
	<Creator />
</section>
