@page "/join"
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<h3>Join</h3>
@foreach (var item in nums)
{
    <p>@item</p>
}



@code {
    List<int> nums = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await httpClient.GetFromJsonAsync<List<int>>("api/Lobby/Join");
            if (response != null)
            {
                nums = response;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }
}
