

<div class="container">
	<div class="cardbox">
		<p class="black-text paragraph title">
			Stop searching for
			forth. The online player is here!
		</p>
		<p class="gray-text paragraph subtitle">Online players: count</p>
	</div>
	<div>
        <button>Play</button>
        <button>Watch</button>
	</div>
</div>

@* <h1>Online Belot</h1>
	<p>Welcome to the online Belot game. Here you can play Belot with your friends or with random people.</p>
	<p>Belot is a card game for four players, played in two teams. The game is played with a deck of 32 cards, from 7 to Ace.</p>
	<p>The goal of the game is to reach 151 points before the other team. You can reach points by winning tricks.</p>
	<p>For more information about the game, you can check the <a href="https://en.wikipedia.org/wiki/Belote">Wikipedia page</a>.</p>
	<p>Have fun!</p> *@
@code {

}
