@import "../../wwwroot/variables.scss";


.container {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: $white;
    width: $full-width;
    height: $full-height;
}

.card {
    display: flex;
    flex-direction: column;
}

.white-text {
    color: $white;
}

.yellow-text {
    color: $aureolin;
}

.gray-text {
    color: $cool-gray;
}

.title {
    font-size: $medium;
}

.subtitle {
    font-size: $small;
}

.paragraph {
    @include zero-spaces;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin: $small $large;
    text-align: center;
}
