<nav>
	<div class="navLink">
		<NavLink style="text-decoration:none;" href="" Match="NavLinkMatch.All">
			<span class="" aria-hidden="true"></span> Home
		</NavLink>
	</div>

	<div class="navLink">
		<NavLink style="text-decoration:none;" href="counter">
			<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
		</NavLink>
	</div>

	<div class="navLink">
		<NavLink style="text-decoration:none;" href="weather">
			<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
		</NavLink>
	</div>
</nav>

