@import "../../wwwroot/variables.scss";

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $medium;

    height: 3.5rem;

    background-color: rgba($cool-gray, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: $medium;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    padding: 0 $small;
}

.black-text {
    color: $black;
    text-align: center;
}

.yellow-text {
    color: $aureolin;
    text-align: center;
}

.paragraph {
    @include zero-spaces;
    font-size: $medium;
}

.navLink {
    @include zero-spaces;
    color: $black;
    font-size: $small;
}
